<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerereServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.cerereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aprobaServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.aprobaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pictureServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.pictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.jademy.mavenproject3.uploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerereServlet</servlet-name>
        <url-pattern>/cerereServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aprobaServlet</servlet-name>
        <url-pattern>/aprobaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pictureServlet</servlet-name>
        <url-pattern>/pictureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
